body{
    background-color:burlywood;
}

h1{
    text-align: center;
    text-transform:uppercase;
}

/* seleccion mediante en nombre de la etiqueta */
/* p{
    color: green;
} */

#parrafo1{
    color: yellow;
}

#parrafo2{
    color: blue;
}

#parrafo3{
    color: red;
}

.transformar-texto-en-mayusculas{
    text-transform: uppercase;
}